@media only screen and (max-width: 960px){
    header {
        justify-items: center;
    }
    header>img{
        justify-self: center;
        margin: auto;
        display: block;
    }
    header>#info{
        text-align: center;
    }
    main {
        text-align: center;
    }
    ul{
        display: inline-block;
        margin: auto;
        text-align: left;
    }
    #contact {
        align-self: center;
    }
}

@media only screen and (min-width: 960px){
    header {
        justify-items: center;
        width: 100%;
        display: grid;
        grid-template-columns: 200px 1fr;
    }
    header>img{
        justify-self: center;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
        width: 50%;
    }
    
    main>#skills {
        display: inline-block;
        margin: auto;
        justify-self: center;
        align-self: center;
        text-align: center;
        list-style-position: inside;
    }

}
div#contact {
    width: 350px;
    display: block;
}
