/* This file is meant to contain all overall styles of the website, this allows us to use each file for its intended purpose instead of having to write the same code multiple times */
/* Just wanted to see how this looked feel free to change it */
/* colors I got from the color wheel are in the css folder under colors.png*/
:root {
    --primary-color: #339FF2;
    --alt-color: #29219B;
    --text-color: #FFFFFF;
    color: var(--text-color);
    background-color: var(--primary-color);
}

nav {
    width: 50vw;
    border: 1px solid black;
}
