/*This sheet is for the project pages style.*/

body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 1.5rem;
    align-self: center;
    width: 80%;
    

}

.project {
    background-color: #29219B;
    width: 25vw;
    border-radius: 8px;
    
}

.project img {
    width: auto;
    height: 25vh;
    display: inline-block;
}

div.title {
    text-align: center;
}

@media screen and (width >= 900px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}