body {
    justify-self: center;
    text-align: center;
}

img {
    margin: 25px 10%;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    justify-self: center;
}



